*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
div{
    width: 250px;
    height: 250px;
    border: 3px solid #4b5757;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}